APP_ENV=development
APP_URL=http://localhost:8888/dolof

reply_to=cmmp@crosspointchurchsv.org,cd@crosspointchurchsv.org
return_path=cd@crosspointchurchsv.org
cc=cd@crosspointchurchsv.org,cmmp@crosspointchurchsv.org

DB_HOST=127.0.0.1
DB_PORT=8889
DB_NAME=crossp11_db1
DB_USER=root
DB_PASSWORD=your_password

DOLOS_DEFAULT_BOX_PRICE=15
DOLOS_DEFAULT_BOX_CAP=100
DOLOS_MAX_QTY_PER_BOX=10
HOLD_MINUTES=30

StripePublicKey=pk_test_xxx
StripeSecretKey=sk_test_xxx
StripeWebhookSecret=whsec_xxx

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxx
ADMIN_WHITELIST=you@example.org,other@example.org
